{% extends "site_base.html" %}

{% load i18n %}

{% block head_title_base %}HiP Voting System (test_accounts){% endblock %}

{% block body_class %}Home (test_accounts){% endblock %}

{% block body_base %}

<section>
<div class="container">

<h3>Welcome to the HiP House voting website!</h3>
<br />

From the Bylaws:
<br />
<br />

<blockquote>
	<p style="font-size:10pt">
	5. Elections. Elections of managers are by secret ballot. Each voter ranks the candidates running for the position. Candidates can be ranked equally to indicate that they are equally preferred. Not all have to be ranked; ranked candidates are considered preferred to unranked candidates. "None of the above" can be ranked as though it were a candidate; if it wins, no one is elected and a new election is held later. Ballots are tabulated using the Schulze method. If a computer program is used to tabulate ballots, the source code and the input given to it for each election must be available to any interested house member.
	</p>
</blockquote>

<center>
<a href="{% url 'polls:index' %}" class="btn btn-success"><h3>Vote Here!</h3></a>
</center>

<br />

Internal links:
<ul>
	<li><a href="{% url 'admin:index' %}">Admin</a></li>
</ul>

External links:
<ul>
	<li><a href="https://en.wikipedia.org/wiki/Schulze_method">Schulze method</a></li>
	<li><a href="https://en.wikipedia.org/wiki/Condorcet_method">Condorcet methods</a></li>
	<li><a href="https://en.wikipedia.org/wiki/Comparison_of_electoral_systems">Voting method comparison</a></li>
	<li><a href="https://en.wikipedia.org/wiki/Electoral_system">Electoral system</a></li>
</ul>


</div>

</section>
{% endblock %}
